@font-face {
    font-family: "Ubuntu-Regular", sans-serif;
    src: url("../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Ubuntu-Light", sans-serif;
    src: url("../assets/fonts/Ubuntu/Ubuntu-Light.ttf") format("ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Ubuntu-Medium", sans-serif;
    src: url("../assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format("ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Ubuntu-Bold", sans-serif;
    src: url("../assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format("ttf");
    font-weight: 700;
}